/* ----------------------------------------
Header
------------------------------------------- */
header {
  background-image: url(../images/blog_header_bg.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
	color: white;
  letter-spacing: 40px;
}

/* ----------------------------------------
Layout
------------------------------------------- */
.column section {
	width: 70%;
	text-align: left;
	padding-top: 0;
	padding-bottom: 54.4px;
}

.comment {
	padding-top: 0;
} */

/* ----------------------------------------
Aside
------------------------------------------- */
aside {
  width: 25%;
  text-align: left;
  width: 25%;
	/* padding-right: 16px; */
}

aside h3 {

}

aside img {

}
aside ul {

}

aside li {

}

article h3 {

}
